<ion-header>
  <ion-toolbar>
    <ion-title>
      <strong>NEWS</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let data of articlesArray" (click) = "content(data['content'])">
    <img [src]="data['urlToImage']">
    <ion-card-header>
      <ion-card-subtitle>{{ data['author'] }}</ion-card-subtitle>
      <ion-card-title style="font-size: 1.2rem;">{{ data['title'] | uppercase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ data['description'] }}
    </ion-card-content>
    <div class="ion-padding">
      <p>{{ data['publishedAt'] | date }}</p>
    </div>
  </ion-card>
</ion-content>